# 📄 Arquivos temporários de diagnóstico do projetoo
pagina.html

# 🐍 Arquivos automáticos e caches do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# 💻 Configurações locais do VS Code e do Windows
.vscode/
Thumbs.db
ehthumbs.db
Desktop.ini